/ingestor-service/articles
# Maven
ingestor-service/target/
ingestor-service/articles/

# Python
optibot-uploader/__pycache__/
optibot-uploader/chroma_db/
optibot-uploader/state.json
optibot-uploader/uploaded_files.txt
optibot-uploader/vector_store_id.txt
optibot-uploader/assistant_id.txt
optibot-uploader/.env

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db